/* #1 河道 */

._lc_ #timeline_holder {
  background: none;
  border: none;
  height: 610px !important;
  min-height: initial;
  z-index: 3;
  position: relative;
  overflow: visible!important;
}
._lc_ #timeline_holder #timeline_cnt {
  overflow: visible !important;
  margin-top: 80px;
  max-height: 370px;
}
._lc_ #timeline_holder #timeline_cnt .cboxAnchor {
  position: absolute;
  left: 0px !important;
}
._lc_ #timeline_holder #timeline_cnt .block_cnt {
  max-height: 300px;
}
._lc_ #timeline_holder #timeline_cnt .block_cnt div {
  max-height: 300px;
}
._lc_ #timeline_holder #timeline_cnt .block_cnt.hh_mm {
  border-right: 1px dashed rgba(200, 200, 200, 0.2) !important;
}
._lc_ #timeline_holder #timeline_cnt .block_cnt.day_start {
  background: rgba(255, 255, 255, 0.2);
}
._lc_ #timeline_holder #timeline_bg .day_start {
  opacity: 0 !important;
}
._lc_ #timeline_holder #timeline_bg .div_inner {
  position: relative;
}
._lc_ #timeline_holder #timeline_bg .div_bottom {
  position: absolute;
  top: 0px!important;
  left: 0px;
  right: 0px;
}
._lc_ #timeline_holder #timeline_bg .div_bottom * {
  color: white !important;
  z-index: 889;
}
._lc_ #timeline_holder #bottom_line {
  top: 0px !important;
  opacity: 0.2;
}
._lc_ #updater {
  top: 560px !important;
  border: 1px solid #444444;
  background: #555555;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  top: 85px !important;
  left: 80px !important;
}
._lc_ #updater * {
  color: white !important;
}
/* #2 Filter 頁籤列 */

._lc_ #filter_tab {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  right: -20px;
  padding: 10px;
  *top: 552px;
  top: 480px;
  border: none;
}
._lc_ #filter_tab a {
  min-height: 28px;
  min-width: 28px;
  max-height: 28px;
  padding: 5px 8px !important;
  border: none !important;
  border-radius: 5px;
}
._lc_ #filter_tab #count_private_plurks,
._lc_ #filter_tab #count_my_plurks,
._lc_ #filter_tab #count_responded_plurks,
._lc_ #filter_tab #count_favorite_plurks,
._lc_ #filter_tab #count_all_plurk {
  font-size: 0px;
}
._lc_ #filter_tab #count_private_plurks span,
._lc_ #filter_tab #count_my_plurks span,
._lc_ #filter_tab #count_responded_plurks span,
._lc_ #filter_tab #count_favorite_plurks span,
._lc_ #filter_tab #count_all_plurk span {
  font-size: 12px;
  position: absolute;
  top: 0px;
  padding: 0px 5px;
}
/* #3 Fashborad */

._lc_ #dashboard_holder {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 9999px;
  padding: 0px;
  margin: 0px;
  background: url(http://dl.dropbox.com/u/7165134/www/plurk/themes/nichijou_night/hakase_2012_e.png) no-repeat, url(http://dl.dropbox.com/u/7165134/www/plurk/themes/nichijou_night/bg_halo2.jpg) !important;
  background-size: auto 100%, cover !important;
  background-position: right 40px, 50% !important;
  height: 610px;
}
._lc_ #dashboard_holder #plurk-dashboard.own {
  position: relative;
  margin-top: 163px;
  z-index: 900;
  overflow: visible;
}
._lc_ #dashboard_holder #plurk-dashboard {
  background: none;
  border: none;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-profile {
  _outline: 2px solid red;
  position: absolute;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  top: 450px;
  left: 0px;
  right: 0px;
  width: auto;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-profile #dash-profile {
  position: absolute;
  z-index: 2;
  left: 40px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-profile #dash-profile span,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-profile #dash-profile div {
  position: absolute;
  top: -9999px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-profile #dash-additional-info {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  left: 210px;
  left: 0px;
  padding-left: 240px;
  min-height: 260px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-profile #dash-additional-info #about_me {
  width: 260px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-stats {
  position: absolute;
  font-size: 0px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-stats a,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-stats h2,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-stats table {
  position: absolute;
  top: -9999px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-stats .karma_hover {
  position: absolute;
  top: 650px;
  left: 30px;
  width: 200px;
  z-index: 400;
  font-family: Tahoma, Geneva, sans-serif;
  _font-style: italic;
  cursor: default;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-stats .award_bar {
  position: absolute;
  z-index: 100;
  width: 500px;
  top: 470px;
  left: 550px;
}
._lc_ #dashboard_holder #plurk-dashboard .show_mutual_friends,
._lc_ #dashboard_holder #plurk-dashboard #friend_managment,
._lc_ #dashboard_holder #plurk-dashboard #dashboard-invite-div,
._lc_ #dashboard_holder #plurk-dashboard #dashboard-usersearch,
._lc_ #dashboard_holder #plurk-dashboard #sharePlurk,
._lc_ #dashboard_holder #plurk-dashboard .dash-icon,
._lc_ #dashboard_holder #plurk-dashboard #fan_managment,
._lc_ #dashboard_holder #plurk-dashboard h2 {
  position: absolute;
  top: -9999px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends {
  position: absolute;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends .show_all_friends {
  position: absolute;
  z-index: 999;
  width: 186px;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
  padding: 5px;
  top: 525px;
  left: 560px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends .show_all_friends a {
  color: black;
  text-decoration: none;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends #friend_holder {
  position: absolute;
  z-index: 100;
  top: 560px;
  left: 560px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends #friend_holder a,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends #friend_holder img {
  width: 39px;
  height: 39px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends #friend_holder td {
  padding-right: 9px;
  padding-bottom: 3px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans {
  position: absolute;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans .show_all_friends {
  position: absolute;
  z-index: 999;
  width: 186px;
  text-align: center;
  background: rgba(200, 200, 200, 0.8);
  padding: 5px;
  top: 525px;
  left: 756px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans .show_all_friends a {
  color: black;
  text-decoration: none;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans #fan_holder {
  position: absolute;
  z-index: 100;
  top: 560px;
  left: 756px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans #fan_holder a,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans #fan_holder img {
  width: 39px;
  height: 39px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans #fan_holder td {
  padding-right: 9px;
  padding-bottom: 3px;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans {
  -webkit-transition: opacity 0.3s;
  opacity: 0.2 !important;
  z-index: 999;
}
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-friends:hover,
._lc_ #dashboard_holder #plurk-dashboard .dash-segment-fans:hover {
  opacity: 1 !important;
}
._lc_ .browse_button[style*="right"] {
  top: 85px;
  left: 40px !important;
  right: auto !important;
}
._lc_ .browse_button[style*="right"] .cmp_back_to_today {
  background: url('http://www.iconsdb.com/icons/download/white/arrow-96-24.png');
  height: 24px;
  width: 24px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: -30px;
}
._lc_ .browse_button[style*="left"] {
  position: absolute;
  top: -999px !important;
}
._lc_ .cmp_arrow_right {
  background: url('http://www.iconsdb.com/icons/download/white/arrow-24-24.png');
  height: 24px;
  width: 24px;
  opacity: 0.8;
}
#dynamic_logo {
  opacity: 0;
}
#plurk_form {
  position: absolute;
  top: 517px;
  padding: 0px;
  left: 0;
  right: 0px;
  z-index: 1000;
  max-height: 80px;
}
#plurk_form form {
  height: 86px;
}
#plurk_form .input_holder .candidate {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px !important;
  border-radius: 6px;
}
#plurk_form .plurkaction {
  background: rgba(0, 0, 0, 0.5);
  border: none !important;
}
#plurk_form .icons_holder_row {
  position: absolute;
  top: -9999px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
}
#plurk_form .icons_holder {
  background: rgba(0, 0, 0, 0.5);
  padding: 1px 10px !important;
  margin-right: 17px;
}
#plurk_form .display_name {
  position: fixed !important;
  top: -999px !important;
}
#plurk_form .dd_img .m_qualifier {
  position: relative;
  top: 2px;
  padding: 2px 3px;
  border-radius: 5px;
}
#plurk_form .dd_img img {
  margin-left: 5px;
}
#plurk_form:hover .icons_holder_row {
  position: static;
  opacity: 1;
}
.plurk .response_count {
  color: white !important;
  background-color: #888888;
  margin-top: 5px;
  padding: 5px;
  -webkit-box-shadow: 0 0 0px 0px #4a7de4;
  -webkit-transition: -webkit-box-shadow 0.5s, background-color 0.5s;
}
.plurk .plurk_cnt {
  -webkit-box-shadow: 0 0 0px 0px white;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
}
.plurk.new .response_count {
  background-color: #4a7de4 !important;
  -moz-box-shadow: 0 0 5px 3px #4a7de4;
  box-shadow: 0 0 5px 3px #4a7de4;
}
.plurk.new .plurk_cnt {
  border: 1px dashed #54c2fb !important;
  -webkit-box-shadow: 0 0 8px 5px white;
  -moz-box-shadow: 0 0 8px 5px white;
  box-shadow: 0 0 8px 5px white;
}
footer {
  position: absolute;
  top: -9999px;
}
